:root {
    --background-color: #F5F5F5;
    --brand-color: #212121;
    --button-color: #2196F3;
}

.body {
    font-family: 'Roboto', sans-serif;
    background-color:#F5F5F5;
    color:#212121
}
